@using DOLPHIN.Helpers.Enums;
@model IEnumerable<DOLPHIN.Model.News>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        DATA TABLE
        <h3 class="title-5 m-b-35">data table</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <div class="rs-select2--light rs-select2--md">
                    <select class="js-select2" name="property">
                        <option selected="selected">All Properties</option>
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <div class="rs-select2--light rs-select2--sm">
                    <select class="js-select2" name="time">
                        <option selected="selected">Today</option>
                        <option value="">3 Days</option>
                        <option value="">1 Week</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <button class="au-btn-filter">
                    <i class="zmdi zmdi-filter-list"></i>filters
                </button>
            </div>
            <div class="table-data__tool-right">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>add item
                </button>
                <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                    <select class="js-select2" name="type">
                        <option selected="selected">Export</option>
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Author</th>
                        <th>Description</th>
                        <th>Publish</th>
                        <th>Update</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow">
                            <td>@item.Id</td>
                            <td>@item.Author.DisplayName</td>
                            <td>@item.Title</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.UpdatedDate</td>
                            <td>
                                @if (item.Status == (int)EnArticleStatus.Approved)
                                {
                                    <span class="status--process">Approved</span>
                                }
                                @if (item.Status == (int)EnArticleStatus.Pending)
                                {
                                    <span class="status--denied">Pending</span>
                                }
                                @if (item.Status == (int)EnArticleStatus.Delete)
                                {
                                    <span class="status--denied">Delete</span>
                                }
                            </td>
                            <td>
                                <div class="table-data-feature">
                                    <span class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                        <a href="/Admin/Articles/Update/@item.Id"><i class="zmdi zmdi-edit"></i></a>
                                    </span>
                                    <span class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <a onclick="Delete(@item.Id)"><i class="zmdi zmdi-delete"></i></a>
                                    </span>
                                    <span class="item" data-toggle="tooltip" data-placement="top" title="More">
                                        <i class="zmdi zmdi-more"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
        </div>
        Total record : @ViewBag.TotalRecord
    </div>
</div>
<script>
    function Delete(Id) {
        var data = {
            Id: Id,
        };
        var title = "Bạn có đồng ý xóa dữ liệu này không?";
        var url = '/Admin/Articles/Delete/';
        swal({
            title: title,
            icon: "warning",
            buttons: {
                ok: "Xác nhận",
                cancel: "Hủy",
            }
        }).then((isConfirm) => {
            if (isConfirm != 'ok') {

            } else {
                $.post(url, data,
                    function (rs) {
                        if (rs.status > 0) {
                            swal({
                                title: "Xóa thành công!",
                                text: "Dữ liệu của bạn đã được cập nhật!",
                                icon: "success",
                            }).then(function (isConfirm) {
                                window.location.href = '/Admin/Articles';
                            });
                        }
                        else {
                            toastr.error(rs.message);
                        }
                    });
            }
        });
    }
</script>